<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura</Format>
          <Exclude>[QuickstartTemplate.WebApi.IntegrationTests.*]*,[QuickstartTemplate.WebApi.IntegrationTests]*</Exclude>
          <ExcludeByAttribute>Obsolete,GeneratedCodeAttribute,CompilerGeneratedAttribute</ExcludeByAttribute>
          <ExcludeByFile>**/*Migrations/*.cs,</ExcludeByFile> <!-- Globbing filter -->
          <IncludeTestAssembly>false</IncludeTestAssembly>
          <CopyLocalLockFileAssemblies>true</CopyLocalLockFileAssemblies>

        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>
